<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Test Wizard</title>

	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/angular.wizard/latest/angular-wizard.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/2.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<div id="appQuestionaire" ng-app='app' ng-controller='AppCtrl as vm' class="ng-cloak" >
		<h1 class="questionaire-title">{{vm.mainTitle}}</h1>

		<wizard on-finish="finishedWizard()"  hide-indicators="true" ng-show="vm.questions"> 
			<wz-step title="Intro">
				
				<p class="questionaire-intro">{{vm.intro}}</p>
				<input type="submit" ng-value="vm.introButton" class="questionaire-intro-button" wz-next/>
			</wz-step>
			<wz-step title="question_{{$index}}" ng-repeat="q in vm.questions">
				<h2 class="question-title">{{q.title}}</h2>
				<p class="question-body" ng-if="q.body">{{q.body}}</p>
				<div class="question-answers">
					<div ng-repeat="a in q.answers" class="question-answer">
						<input id="answer_{{$parent.$index}}.{{a.value}}" name="answer_{{$parent.$index}}" type="radio" ng-value="a.value" ng-click="vm.answerQuestion(a, q)">
						<label for="answer_{{$parent.$index}}.{{a.value}}">{{a.text}}</label>
					</div>
				</div>
			</wz-step>
			<wz-step title="Summary" ng-if="vm.addSummaryStep">
				<p>Usted acaba de completar un questionario de {{vm.questionsCount}} preguntas, contestando correctamente {{vm.questionsAnsweredCorrectly}} de ellas</p>
				<p class="questionaire-summary">{{vm.getResultText(vm.questionsAnsweredCorrectly)}}</p>
				<div id="incorrect-answers" ng-show="vm.questionsAnsweredIncorrectlyTitles.length > 0">
					<ul>
						<li ng-repeat="qai in vm.questionsAnsweredIncorrectlyTitles">{{qai}}</li>
					</ul>
				</div>
				<input type="submit" ng-click="vm.reset()" value="Volver a contestar" class="questionaire-summary-button"/>
			</wz-step>

		</wizard>
	</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/angular.wizard/latest/angular-wizard.min.js"></script>
<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>