/***
Hack para que no muestre los tags de angular mientras carga
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}


.step.ng-hide-add,
.step.ng-hide-remove {
	-webkit-transition: all cubic-bezier(0, 0, 1, 1) 0.2s;
    transition: all cubic-bezier(0, 0, 1, 1) 0.2s;
    position: absolute;
    width: 100%;
	display: block !important;
}

/*Cuando esta desapareciendo*/
.step.ng-hide-add.ng-hide-add-active{
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

/*Cuando esta apareciendo*/
.step.ng-hide-remove.ng-hide-remove-active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    opacity: 1;
}

/*cuando desaparecio*/
.step.ng-hide {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
    opacity: 0;
}


/*ng-hide-add
ng-hide-add-active
ng-hide-remove
ng-hide-remove-active*/

